{
  "token": "REPLACE WITH DISCORD BOT TOKEN",
  "hec_endpoint": "http://localhost:8808/collector/event",
  "hec_token": "00000000-0000-0000-0000-0000000000000",
  "hec_index": "main",
  "hec_insecure_skip_verify": true,
  "listen_addr": "0.0.0.0:8080"
  "webhooks": [
    {
      "id": "foo",
      "channel": "REPLACE WITH CHANNEL ID"
    }
  ]
}